<h1>Members</h1>
<div class = 'users'>
<div class='profile'>
    <% @users.each do |user| %>

    <% if user.profile.attached? %>
    
<%= link_to image_tag(user.profile,size:'50x50', style:"border-radius:75%"),profile_path(user) %><strong>
<% end %>
<%= link_to  user.name ,profile_path(user), class:'name'%> </strong>  
 <hr>   
 <% end %> 
 </div>

    
</div>



