// Place all the styles related to the finds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.innermember {
    margin-top: 45px; 
}
.findimg {
    float: left;
    
}
#findname {
    margin-right:50px;
    font-size: 20px;
  
}



